@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;1,400&display=swap');


:root {
    --primary-color: #FFFFFF;
    --off-white: #F3F4F6;
    --light-blue: #007acc;
    --txt-color : #0002cd;
}

body {
    font-family: 'Montserrat', sans-serif ;
    margin: 0px;
    background-color: #F5F7F9;
}
hr{
    margin: 2rem 0rem;
}

/** container **/

.container {
    padding: 0rem, 1rem;
}

/** nav**/

.navigation {
    background-color: var(--primary-color);
    color: #000C2D;
    padding : 1rem;
    border-bottom-left-radius: 1rem;
}

.navigation .nav-pills {
    text-align: right;
}
.navigation .nav-brand {
    font-weight: bold;
    color: var(--light-blue);
}
.navigation .link-active {
    font-weight: bold;
}
.navigation .link {
    color: var(--light-blue);
}

/**list **/

.list-non-bullet {
    list-style: none;
}

.list-item-inline {
    display: inline;
    padding: 0rem 0rem;
}


/** links **/

.link {
    box-sizing: border-box;
    text-decoration: none;
    padding: 0.5rem 1rem;
}
.link-primary {
    background-color: var(--light-blue);
    border-radius: 0.5rem;
    color: white;
}
.link-secondary{
    color: #000c2d;
    border-radius: 0.5rem;
    border: 1px solid var(--light-blue);
}

/** Hero **/

.hero {
    padding: 2rem;
    padding-top: 5rem;
}
.hero .hero-img {
    
    max-width: 40%;
    width: 400;
    display: block;
    margin: auto;
}
.hero .hero-header{
    text-align: center;
    padding-top: 1rem;
    color: black;
}
.hero .hero-header .heading-inverted {
    color: var(--light-blue);
}


/** container **/

.container-center {
    max-width: 600px;
    margin: auto;
}

/**section **/

.section {

    padding: 2rem;
}
.section h1{
    text-align: center;
}
.ow{
    background-color: var(--off-white);
}
.section p {
    text-align: center;
}
.section span{
   font-weight: bold;
}


/** footer **/

.footer{
    background-color: var(--primary-color);
    padding: 2rem 1rem;
    text-align: center;
    color: var(--light-blue);
    border-top-right-radius: 1rem;
}

 .footer .footer-header {
    font-weight: bold;
    font-size: large;
}

.footer .link{
    color: var(--light-blue);
    font-weight: bold;
}
.footer ul {
    padding-inline-start: 0px;
}

/** social-button**/
.social-icons {
    background-color: white;
    font-size: 30px;
    height: 10%;
    width: 40px;
    text-decoration: none;
    border-radius: 50%;
  }
  .socail-twitter{
      color: white;
      background-color: white;
  }
  
   /** new header style for everything  **/
  
   .all-header{
    color: var(--light-blue);
} 

 .foot-image{
    border-radius: 50%;
    float:left;
    max-width: 100%; 
    height:50px;
    width:50px; 
}
.prof-txt{
 margin-left: 1rem;

}

.container2{
  width: 100%;
  height: auto;
  padding-bottom: 2rem;
}